.footerContainer {
    background-color: #495e57;
    padding: 15rem 0 10rem;
    display: flex;
    justify-content: center;
    color: #EDEFEE;
    font-size: 16pt;
    align-items: center;
}

ul {
    list-style: none;
}

.links {
    padding-right: 4rem;
}

.links li {
    padding: 10px;
    border-radius: 15px;
}

.contact {
    padding-left: 5rem;
}

a {
    color: inherit;
}

.links li:hover {
    background-color: #5d6f69;
}