nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-content: center;
  margin-bottom: 1em;
}

nav ul li {
  display: flex;
  gap: 1em;
  list-style: none;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px,auto));
  grid-template-rows: repeat(6, auto);
  gap: 2em 2em;
}

.banner {
  grid-area: 2 / 2 / 5 / 3;
  margin-right: 5em;
}

button {
  background-color: #F4CE14;
  border: none;
  margin-top: 2em;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
}

.crop {
  grid-area: 2 / 3 / 7 / 4;
  height: 330px;
  overflow: hidden;
  border-radius: 5%;
}

.bannerBackground {
  background-color: #495E57;
  grid-area: 1 / 1 / 6 / 5;
}

.promotion {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: 13em;
  margin-right: 13em;
  row-gap: 30px;
}

.menu {
  justify-self: right;
  width: 150px
}

.dishCard {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 220px));
  column-gap: 50px;
  justify-self: center;
}